.books__list {
  display: flex;
  width: 100%;
  height: 250px;
  margin-bottom: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
  position: relative;
}

.books__list::-webkit-scrollbar {
  display: none;
}

.book__list-img {
  height: 100%;
  object-fit: cover;
  margin: 0 5px;
}

.books__list-scroll {
  width: 60px;
  height: 60px;
  background-color: var(--color-golden);
  border: none;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  transition: scale 0.4s ease-in-out;
}

.books__list-scroll:hover {
  scale: 1.04;
}

.books__list-scroll__left {
  position: sticky;
  left: 0;
}

.books__list-scroll__right {
  position: sticky;
  left: 96%;
}

/* Media Query */
@media screen and (max-width: 1200px) {
  .books__list-scroll__right {
    left: 93%;
  }
}

@media screen and (max-width: 800px) {
  .books__list-scroll__right {
    left: 90%;
  }
}

@media screen and (max-width: 800px) {
  .books__list-scroll__right {
    left: 90%;
  }
}

@media screen and (max-width: 650px) {
  .books__list-scroll__right {
    left: 89%;
  }
}

@media screen and (max-width: 500px) {
  .books__list-scroll {
    display: none;
  }
}
