.book__details {
  display: flex;
  padding: 30px;
}

.book__details-img {
  width: 100%;
  max-width: 300px;
  height: 400px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  margin-right: 20px;
}

.book__details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--color-golden);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.book__details-info > h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

.book__details-info > h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.book__details-info > p {
  font-size: 1rem;
  text-align: justify;
}

/* Media Query */

@media screen and (max-width: 800px) {
  .book__details-img {
    height: 300px;
  }

  .book__details-info > h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-decoration: underline;
  }

  .book__details-info > h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .book__details-info > p {
    font-size: 0.9rem;
    text-align: justify;
  }
}

@media screen and (max-width: 570px) {
  .book__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .book__details-img {
    width: 200px;
    margin-bottom: 20px;
  }
}
